.logo-link {
  display: inline-block;
}

.logo {
  font-family: Anton, Impact, Helvetica, 'Arial Black', sans-serif;
  color: white;
  text-align: center;
  display: inline-block;
  user-select: none;
  font-size: 76px;
  letter-spacing: 0.01em;

  &:hover {
    text-decoration: underline;
  }

  &--small {
    font-size: 56px;
  }
}
