@import '../core.scss';

.drawer {
  width: 450px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background: $red;
  z-index: 101;
  box-shadow: 4px 0 8px 0 rgba(black, 0.2);
  transform: translate3d(calc(-100% - 12px), 0, 0);
  transition: 0.2s;

  &.open {
    transform: translate3d(0, 0, 0);
  }
}
