@import '~modern-normalize/modern-normalize.css';
@import 'breakpoints';
@import 'fonts';

body {
  font-family: 'ManifoldDSA', 'Helvetica Neue', Arial, Sans-Serif;
}

.content {
  max-width: 750px;
  margin: 0 auto;
  color: #333;

  h1 {
    margin: 0 20px 0.75rem;
    font-size: 28px;
    line-height: 1.3em;

    @include bp(tablet) {
      font-size: 32px;
    }
  }

  h2 {
    margin: 30px 20px 0.75rem;
    font-size: 22px;
    line-height: 1.3em;

    @include bp(tablet) {
      font-size: 25px;
    }
  }

  p {
    margin: 0 20px 0.75rem;
    line-height: 1.4em;

    @include bp(tablet) {
      font-size: 18px;
      line-height: 1.5em;
    }
  }

  a {
    color: #ed2c24;

    &:hover {
      color: darken(#ed2c24, 15%);
    }
  }

  img {
    max-width: 100%;
    padding: 0 20px 30px;
  }
}
