@import '~modern-normalize/modern-normalize.css';
@import 'breakpoints';
@import 'colors';
@import 'fonts';

body {
  font-family: 'ManifoldDSA', 'Helvetica Neue', Arial, Sans-Serif;

  &.front-page {
    background: #eee;
  }
}

.content {
  max-width: map-get($breakpoints, 'tablet');
  margin: 0 auto;
  color: $text-color;

  h1 {
    margin: 0 20px 0.75em;
    font-size: 32px;
    line-height: 1.2em;
    font-family: 'Rasa', serif;
    font-weight: 600;

    @include bp(tablet) {
      font-size: 38px;
    }

    a {
      text-decoration: none;
    }
  }

  h2 {
    margin: 35px 20px 0.75rem;
    font-size: 24px;
    line-height: 1.3em;
    font-family: 'Rasa', serif;
    font-weight: 500;

    @include bp(tablet) {
      font-size: 28px;
    }

    strong {
      font-weight: 500;
    }

    a {
      text-decoration: none;
    }
  }

  p {
    font-size: 17px;
    margin: 0 20px 0.75rem;
    line-height: 1.5em;

    @include bp(tablet) {
      font-size: 19px;
      line-height: 1.55em;
    }
  }

  a {
    color: $red;

    &:hover {
      color: darken($red, 15%);
    }
  }

  img {
    max-width: 100%;
    padding: 0 20px 20px;

    @include bp(tablet) {
      padding-bottom: 30px;
    }
  }
}

.post-listing {
  margin-bottom: 20px;

  @include bp(tablet) {
    margin-bottom: 40px;
  }

  &__link {
    text-decoration: none;
    display: block;
    background: white;
    border-radius: 6px;
    transition: box-shadow 0.15s;
    margin: 0 20px;
    padding: 20px;

    @include bp(tablet) {
      padding: 30px;
    }

    &:hover {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.06);

      h2 {
        color: $red;
      }
    }
  }

  img {
    padding: 0;
    max-width: 260px;
    margin-bottom: 20px;
  }

  &__details {
    margin-top: 10px;

    @include bp(tablet) {
      margin-top: 20px;
    }
  }

  &__image {
    img {
      margin: 0 auto 10px;

      @include bp(tablet) {
        margin: 0 20px 5px 0;
        float: left;
      }
    }
  }

  h1,
  h2,
  p {
    margin: 0;
  }

  p {
    color: $text-color;
  }
}
