@import 'core';

.header {
  background: $red;
  text-align: center;
  padding: 30px 0 $sticky-header-height;
  margin-bottom: 35px;

  @include bp(tablet) {
    margin-bottom: 80px;
    padding-bottom: $sticky-header-height-tablet;
  }

  .tagline {
    margin-top: 14px;

    img {
      width: 50px;
      height: 62px;
      margin-top: 25px;
    }

    p {
      color: white;
      text-align: center;
      line-height: 1.3em;
      letter-spacing: 0.03em;
      margin: 0 20px 4px;
      font-size: 13px;

      &:first-child {
        font-size: 18px;
      }
    }
  }

  .hamburger-wrapper {
    width: 100%;
    max-width: map-get($breakpoints, tablet);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .social {
    margin: 0 auto 30px;
    padding: 0 20px;

    @include bp(tablet) {
      margin-bottom: 10px;
    }
  }
}

.sticky-header {
  height: $sticky-header-height;
  background-color: $red;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  @include bp(tablet) {
    height: $sticky-header-height-tablet;
  }
}

.sticky-header-content {
  height: $sticky-header-height;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  @include bp(tablet) {
    height: $sticky-header-height-tablet;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
  }

  h2 {
    line-height: $sticky-header-height;
    font-family: Anton, Impact, Helvetica, 'Arial Black', sans-serif;
    margin: 0 0 0 ($hamburger-width + 15px);
    padding: 0;
    letter-spacing: 0.01em;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    font-size: 28px;

    @include bp(tablet) {
      line-height: $sticky-header-height-tablet;
      font-size: 31px;
    }

    a {
      color: white;
      text-decoration: none;
      display: block;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .social img {
    height: 22px;
  }
}

.sticky-header {
  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
  }
}
