@import 'breakpoints';
@import 'colors';

.header {
  background: $red;
  margin-bottom: 20px;
  text-align: center;
  padding: 40px 0;

  @include bp(tablet) {
    margin-bottom: 40px;
  }

  .ebdsa {
    margin-top: 25px;

    img {
      width: 50px;
      height: 62px;
    }

    p {
      font-size: 13px;
      color: white;
      text-align: center;
      line-height: 1.3em;
      letter-spacing: 0.03em;
      margin: 10px 0 0;
    }
  }
}
