@import 'breakpoints';
@import 'colors';

.header {
  background: $red;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px 0 35px;

  @include bp(tablet) {
    margin-bottom: 40px;
  }

  .social {
    $icon-size: 25px;
    text-align: right;
    margin: 0 auto 30px;
    padding: 0 20px;
    max-width: map-get($breakpoints, tablet);

    @include bp(tablet) {
      margin-bottom: 10px;
    }

    img {
      height: $icon-size;
      margin-left: 15px;
      opacity: 0.8;
      transition: opacity 0.15s;

      &:hover {
        opacity: 1;
      }
    }
  }

  .ebdsa {
    margin-top: 14px;

    img {
      width: 50px;
      height: 62px;
    }

    p {
      font-size: 18px;
      color: white;
      text-align: center;
      line-height: 1.3em;
      letter-spacing: 0.03em;
      margin: 0 20px 25px;
    }
  }
}
