@import 'colors';

.header {
  background: $red;
  margin-bottom: 50px;
  text-align: center;
  padding: 40px 0;

  .logo {
    font-family: Anton, Impact, Helvetica, 'Arial Black', sans-serif;
    color: white;
    text-align: center;
    display: inline-block;
    user-select: none;

    &__the {
      display: block;
      font-size: 28px;
      letter-spacing: -0.005em;
    }

    &__majority {
      display: block;
      font-size: 56px;
      letter-spacing: 0.01em;
      border-top: solid 2px white;
      margin-top: 6px;
      padding-top: 6px;
    }
  }

  .ebdsa {
    margin-top: 25px;

    img {
      width: 50px;
      height: 62px;
    }

    p {
      font-size: 13px;
      color: white;
      text-align: center;
      line-height: 1.3em;
      letter-spacing: 0.03em;
      margin: 10px 0 0;
    }
  }
}
